.navbar {
  flex: 1;

  display: flex;

  justify-content: center;
}

.nav-links {
  display: flex;

  align-items: center;

  gap: 1.125rem;

  list-style: none;

  margin: 0;
  padding: 0;

  background: transparent;
}

.nav-links li {
  list-style: none;
}

/* TAB STYLE */

.nav-links a {
  text-decoration: none;

  color: #ffffff;

  font-size: 1.0625rem;

  font-weight: 600;

  padding: 0.875rem 1.375rem;

  border-radius: 0.75rem;

  transition: 0.3s ease;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(0.625rem);
}

/* HOVER EFFECT */

.nav-links a:hover {
  background: #c89b3c;

  color: white;

  transform: translateY(-2px);
}