.process-page {
  width: 100%;

  padding: 6.25rem 2.5rem;

  background: #f7f8f6;

  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.process-header {
  text-align: center;

  max-width: 56.25rem;

  margin: 0 auto 5rem;
}

.process-header span {
  color: #c89a3d;

  font-size: 0.875rem;
  font-weight: 600;

  letter-spacing: 0.25rem;
}

.process-header h2 {
  font-size: 4.375rem;

  color: #072e22;

  margin: 1.25rem 0;
}

.process-header p {
  color: #555;

  font-size: 1.25rem;

  line-height: 1.8;
}

/* GRID */

.process-grid {
  max-width: 87.5rem;

  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 2.1875rem;
}

/* CARD */

.process-card {
  position: relative;

  background: white;

  padding: 2.5rem;

  border-radius: 1rem;

  text-align: center;

  box-shadow:
    0 0.625rem 1.875rem rgba(0,0,0,.08);

  transition: .3s ease;
}

.process-card:hover {
  transform: translateY(-0.5rem);
}

/* NUMBER */

.process-number {
  position: absolute;

  top: 1.25rem;
  left: 1.25rem;

  width: 4.0625rem;
  height: 4.0625rem;

  border-radius: 50%;

  background: #072e22;

  color: white;

  border: 3px solid #c89a3d;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.75rem;
  font-weight: 700;
}

/* ICON */

.process-icon {
  margin-top: 2.5rem;

  color: #072e22;

  margin-bottom: 1.5625rem;
}

/* TITLE */

.process-card h3 {
  font-size: 2rem;

  color: #072e22;

  margin-bottom: 1.25rem;
}

/* GOLD LINE */

.gold-line {
  width: 4.375rem;
  height: 3px;

  background: #c89a3d;

  margin: 0 auto 1.5625rem;
}

/* TEXT */

.process-card p {
  color: #555;

  font-size: 1.125rem;

  line-height: 1.8;
}

/* RESPONSIVE */

@media (max-width: 68.75rem) {
  .process-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .process-header h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 48rem) {

  .process-page {
    padding: 5rem 1.25rem;
  }

  .process-grid {
    grid-template-columns: 1fr;
  }

  .process-header h2 {
    font-size: 2.625rem;
  }

  .process-header p {
    font-size: 1rem;
  }

  .process-card h3 {
    font-size: 1.75rem;
  }
}